{{ $folder := .Get "folder" }}
{{ $files := readDir $folder }}
{{ $i := 0 }} <!-- Initialize the counter -->
<div style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 10px; margin: 0px;">
  {{ range $files }}
  {{ if (findRE "_worldtopomap.png$" .Name) }}
  {{ $i = add $i 1 }} <!-- Increment the counter -->

  <!-- Split the filename into parts -->
  {{ $parts := split (replace .Name ".png" "") "_" }}

  <!-- Initialize an empty string to hold the middle parts -->
  {{ $middleParts := "" }}

  <!-- Loop through the parts starting from index 1 and stop before the last element -->
  {{ range $index, $part := $parts }}
  {{ if and (gt $index 0) (lt $index (sub (len $parts) 1)) }}
  {{ $middleParts = printf "%s %s" $middleParts $part }} <!-- Concatenate the parts -->
  {{ end }}
  {{ end }}

  <!-- Trim the spaces and capitalize the result -->
  {{ $name := title (trim $middleParts " ") }}

  <figure style="margin: 0; padding: 0; width: 19%; flex: 0 1 auto;">
    <img src="/{{ path.Base $folder }}/{{ .Name }}" style="border:none; width: 100%; height: auto; margin: 1px;" loading="lazy">
    <figcaption style="text-align: center; margin: 0; padding: 0;">#{{ $i }} {{ $name }}</figcaption>
  </figure>

  {{ end }}
  {{ end }}
</div>